<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test.custom.mydemos">

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.L3.L3"/>
        <activity android:name=".ui.L4.L4">
        </activity>
        <activity android:name=".ui.L9.L9">
        </activity>
        <activity android:name=".ui.L4.MirrorActivity">
        </activity>
        <activity android:name=".ui.L5.L5">
        </activity>
        <activity android:name=".ui.L6.L6">
        </activity>
        <activity android:name=".ui.L7.L7">
        </activity>
        <activity android:name=".ui.L8.L8">
        </activity>
        <activity android:name=".ui.L10.L10">
        </activity>
        <activity android:name=".ui.L11.L11">
        </activity>
        <activity android:name=".ui.L13.L13">
        </activity>
        <activity android:name=".ui.L16.L16">
        </activity>
        <activity android:name=".ui.L17.L17">
        </activity>
        <activity android:name=".ui.UI">
        </activity>
        <activity android:name=".ErrorActivity">
        </activity>
        <activity android:name=".ui.L18.L18">
        </activity>
        <activity android:name=".ui.L19.L19">
        </activity>
        <activity android:name=".ui.L20.L20">
        </activity>
    </application>

</manifest>