<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test.custom.mydemos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".L3.L3"/>
        <activity android:name=".L4.L4">
        </activity>
        <activity android:name=".L9.L9">
        </activity>
        <activity android:name=".L4.MirrorActivity">
        </activity>
        <activity android:name=".L5.L5">
        </activity>
        <activity android:name=".L6.L6">
        </activity>
        <activity android:name=".L7.L7">
        </activity>
        <activity android:name=".L8.L8">
        </activity>
        <activity android:name=".L10.L10">
        </activity>
    </application>

</manifest>