<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test.custom.mydemos">

    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Ui.L3.L3"/>
        <activity android:name=".Ui.L4.L4">
        </activity>
        <activity android:name=".Ui.L9.L9">
        </activity>
        <activity android:name=".Ui.L4.MirrorActivity">
        </activity>
        <activity android:name=".Ui.L5.L5">
        </activity>
        <activity android:name=".Ui.L6.L6">
        </activity>
        <activity android:name=".Ui.L7.L7">
        </activity>
        <activity android:name=".Ui.L8.L8">
        </activity>
        <activity android:name=".Ui.L10.L10">
        </activity>
        <activity android:name=".Ui.L11.L11">
        </activity>
        <activity android:name=".Ui.L13.L13">
        </activity>
        <activity android:name=".Ui.L16.L16">
        </activity>
        <activity android:name=".Ui.L17.L17">
        </activity>
        <activity android:name=".Ui.Ui">
        </activity>
        <activity android:name=".ErrorActivity">
        </activity>
        <activity android:name=".Ui.L18.L18">
        </activity>
        <activity android:name=".Ui.L19.L19">
        </activity>
        <activity android:name=".Ui.L20.L20">
        </activity>
        <activity android:name=".Kotlin.Kotlin">
        </activity>
        <activity android:name=".Kotlin.L1.L1">
        </activity>
        <activity android:name=".Kotlin.L1.KotlinTest">
        </activity>
        <activity android:name=".NDK.L1.L1">
        </activity>
        <activity android:name=".NDK.NDK">
        </activity>
        <activity android:name=".NDK.L2.L2">
        </activity>
        <activity android:name=".NDK.L3.L3">
        </activity>
        <activity android:name=".NDK.L4.L4">
        </activity>
        <activity android:name=".NDK.L5.L5">
        </activity>
        <activity android:name=".NDK.L6.L6">
        </activity>
        <activity android:name=".NDK.L10.L10">
        </activity>
        <activity android:name=".NDK.L12.L12">
        </activity>
    </application>

</manifest>